*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

div[bid=main] {
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

textarea {
  -webkit-user-select: auto;
  -webkit-user-drag: auto;
  -webkit-app-region: drag;
  resize: none;
  overflow: auto;
}

div[step] {
  display: none;
  margin-top: 10px;
}

.bodydiv {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 200px;
  display: inline-block;
  margin: 10px;
}

.maindiv {
  flex: 1;
}


div[bid=sidebar] {
  margin-top: 10px;
}

.form-control {
  margin: 5px;
}

.btn-group-xs>.btn.custom,
.btn-xs.custom {
  font-size: 10px;
  padding: 1px 10px
}

.selectable {
  -webkit-user-select: text;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.login_form.modal {
  border-radius: 0;
  line-height: 18px;
  padding: 0;
  font-family: "Lucida Grande", Verdana, sans-serif;
}

.login_form h3 {
  margin: 0;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  background: #FF9900;
}

.login_form.modal p {
  padding: 20px 30px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(1, #fff));
  overflow: hidden;
}

.login_form.modal p:last-child {
  border: none;
}

.login_form.modal p label {
  float: left;
  font-weight: bold;
  color: #333;
  font-size: 13px;
  width: 110px;
  line-height: 22px;
}

.login_form.modal p input[type="text"],
.login_form.modal p input[type="password"] {
  font: normal 12px/18px "Lucida Grande", Verdana;
  padding: 3px;
  border: 1px solid #ddd;
  width: 200px;
}

.bgcolor_highlight {
  font-weight: bold;
  color: #FF9900;
}

.bgcolor_highlight input {
  font-weight: bold;
  color: #FF9900;
}

div[bid=bomtable] h5 button {
  font-size: 12px;
  margin: 5px;
  padding: 3px;
}

table.treetable {
  font-size: 12px;
  border: 1px solid #cccccc;
}

table.treetable th {
  background: #999999;
  font-weight: bold;
  border: 1px solid #cccccc;
  padding: 2px;
}

table.treetable tr td {
  border: 1px solid #999999;
  padding: 2px;
}

table.treetable tbody tr td:first-child,
table.treetable th:first-child {
  max-width: 200px;
  min-width: 80px;
}

table.treetable tbody tr td input[did=Code] {
  width: 80px;
}

table.treetable tbody tr td input[did=Order] {
  width: 80px;
}

table.treetable tbody tr td input[did=Qty] {
  width: 30px;
}

table.treetable tbody tr td input[did=Ptype] {
  width: 30px;
}

table.treetable tbody tr td input[did=PFEP] {
  width: 50px;
}

table.treetable tbody tr td input[did=Name] {
  min-width: 150px;
  width: 100%;
}

table.treetable tbody tr td input[did=Spec] {
  min-width: 150px;
  width: 100%;
}

table.treetable tbody tr td input {
  border: none;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  background: transparent;
}

table.treetable tbody tr:hover {
  background: rgb(255, 223, 175);
}

table.treetable tbody tr.selected td {
  background-color: #ff9900;
  color: #fff
}

table.treetable tbody tr.selected td input {
  background-color: #ff9900;
  color: #fff
}

table.treetable tbody tr.branch {
  background: #cccccc;
}

table.treetable tbody tr td[bid=action] span {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

table.treetable tr.deletion {
  color: #fff;
  background: #FF0000;
}

table.treetable tr.deletion input {
  color: #fff;
}

table.treetable tr.addition {
  color: #fff;
  background: rgb(0, 128, 0);
}

table.treetable tr.addition input {
  color: #fff;
}

table.treetable tr.addaction {
  color: #333;
  background: rgb(176, 255, 180);
  border: 2px solid #333;
  margin-top: 10px;
}

table.treetable tr.addaction input {
  color: #333;
}

.form-inline {
  width: 200px;
  display: inline-block;
}

.form-inline-label {
  display: inline-block;
  font-size: 14px;
}

div[bid='hr'] {
  margin-top: 20px;
  margin-bottom: 20px;
}

table.optionTable {
  border: 0;
}

table.optionTable tr {
  border: 10px solid #FFFFFF;
}

table.optionTable tr td {
  border: 0;
  padding: 2px;
  padding-right: 20px;
  height: 15px;
  font-size: 14x;
}


table.optionTable tr td:first-child {
  width: 50px;
}

td.selectable {
  -webkit-user-select: text;
}

div.sidebar .list-group {
  margin-bottom: 10px;
}